@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie informacyjnej o samochodach</h1>
    <p class="alert alert-danger">Dowiedz się więcej <a href="https://pl.wikipedia.org/wiki/Samoch%C3%B3d">>>kliknij tu<<</a>.</p>
    <h2>Jeżeli chcesz poznać nasze samochody zarejestruj się i odwiedź zakładkę samochody</h2>
</div>
